@charset "UTF-8";
/* CSS Document */
*{
	margin:0;
    padding:0 0;
    width:100%;
    	
}
.body_home{
    background-color:black;
}
.button {
    background-color: #00CC99;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 23px 8px;
    cursor: pointer;
    width:41%;
    min-width: 41%;
}

.btn.btn-primary {
    background-color: #00CC99;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 23px 8px;
    cursor: pointer;
    width:41%;
    min-width: 41%;
}

.btn.btn-primary:hover {
    background-color: #00FFCC;
    
}
.wrapper{
    width: 100%;
    background-color:black;   
}
.header {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;

}
.headerContainer{
    height: 135px;
    color:white;
    width:84%;
    padding-left: 16%;
}
.headerContainer p{
    text-align: center;
  
    color:blue;
}
.logo{
    width: 50%;
    height: 100%;
    float:left;
    
}
.logo img{
    float:left;
    width:50%;
    margin-top: 10px;
}
.loginAndRegister{
    height: 95px;
    width: 27%;
    float:right;
}
.login{
    width: 100%;
    height: 95px;
    padding-top:20px;
}
.login img{
    
    width: 100%;
    height: 45px;
    margin-top: 26px;
    padding-right: 10px;
}
.navbar {
    height: 90px;
    background-color: black;
    width: auto;
}

.navbarSelection {
    height: 81px;
    width: 100%;
    float:left;
    padding-left:7%;
}
.navbarSelection ul{
    list-style-type: none;
    padding-top:2%;
    padding-left: 7.8%;
           
}
.navbarSelection li{
    display: inline
}
.navbarSelection a {
    color:#CCCCCC;
    padding-left: 30px;
    text-decoration: none;
    font-size: 18;
    font-weight: 600;
    text-transform: capitalize;
    
}
.navbarSelection a:hover {
    color:white;
  }
.container_frontpage {
    
    width: 100%;
    background-color: rgba(212, 212, 212, 0.301);
    
   }
   .container_login_reg {
    
    width: 100%;
    background-color: rgba(212, 212, 212, 0.301);
    height: 677px;
   }
.informationSection{
    width: 20%;
    height: 300px;
    background-color: white;
}
.footer {
       height: 100%;
        background-color: black;
        text-align: center;
}
.footer p {
	text-align:center;
	color:rgb(255, 255, 255);	
    line-height:75px;
    padding-top:10px;
	
}


/*****************************************************LOGIN/REGISTER/APP BELOW*******************************/


.tests{
    width:50%;
}

.testss{
    display:flex;
}

.py-4 a{
    color:blue;
}
.py-4 a:hover{
    color:black;
}

.login-title{
    padding-bottom:6%;
    font-size:18pt;
    font-weight: bold;
    padding-left:22%;
}
.card{ 
    width:110%;
    margin-top:15%;
}
  
  form {
    margin:auto;/* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
    width:100%;
    color:black;
  }
.form-check-label {
    padding-left:17%;
    width:60%;
}
.btn.btn-primary2 {
    background-color: #00CC99;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 23px 204px;
    cursor: pointer;
    width:41%;
    margin-right:5%;
    min-width: 41%;
}
.btn.btn-primary2:hover {
    background-color: #00FFCC;
    
}
#remember{
   
   width:15%;
   padding-left:30%;
}
.container_left{
    width:50%;
}
.container_right{
    float:right;
    width:50%;
}
.card-body{
    float:right;
    padding:0;
}
.container{
    height:100%;
    background: white;   
}
.lContainer{
    width:51%;
    height: 100%;
    float:left;
}
.rContainer{
    width:49%;
    height: 100%;
   
    float:right;
    background-color:#CCCCCC;
}
.form-group {
    padding-top:15px;
    width:116%;
}
.offset-md-4{
    margin-left:10%;
}
.btn-link{
    padding-left:31%;
}
.card-header{
   
    font-weight: bold;
    font-size: 16pt;
}
.offset-md-4Register{
    margin-left:45%;
}
.img-fluid{
    height: 100%;
}